/**************************************************************/
/*           Style sheet for Black Mirror web site            */
/*           Author: Manuel Festa                             */
/*           Version: 1.0                                     */
/*           Comments: Class project 2023-2024                */
/**************************************************************/


/*Cuando quiero usar una tipografia y asegurarme que se verá correctamente, suministro tambien con la pagina el archivo de la fuente que será .ttf o .otf*/
/*ahora enlazo el archivo descargado*/
@font-face {
    font-family: blackmirror;/*esto no es un selector, es un enlace*/;
    src: url(../font/FontsFree-Net-Proxima-Nova-Bold.otf);
}
@font-face {
    font-family: textonormal ;
    src: url(../font/open_sans/LibraSans.ttf);
}
body {margin: 0;padding: 0;/*para desactivar el espacio de separacion por defector*/
    
    background-color: #202020;
    padding: 0;
    font-family: textonormal}
#wrapper {background-color: #808080;
            
            width: 80%;          /*ancho fijado al 80%*/
            margin: auto;}       /*centrado automatico*/  
